<?php
/**
 * @author Webfant Team
 */
$json = $block->getSubmitJson();
$urlMedia = $block->getFormMediaUrl();
$formAction = $block->getFormAction();
$formData = ['divElement' => '#amform-form'];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>
<form class="rendered-form amform-form"
      id="amform-form"
      action="<?= $formAction ?>"
      data-mage-init='{"validation": {"ignore" : ":hidden:not(.amform-rating)"}}'
      enctype="multipart/form-data" method="post">
    <?= $this->getChildHtml('inmeet_index'); ?>
    <?= $this->getChildHtml('inmeet_option'); ?>
    
    <div style="float: right">
        <input id="save-button" type="submit" value="Opslaan" class="action submit primary">
        <input id="deff-save-button" type="button" value="Definitief opslaan" style="background-color: green;" class="action submit primary">
    </div>
</form>
<script type="text/x-magento-init">
    {
        "*": {
        <?php if ($json): ?>
            "editFormJson": {
                "data":<?php /* @noEscape */ echo $json; ?>,
                "dataUrl": "<?php /* @noEscape */  echo $urlMedia; ?>"
            }
        <?php else: ?>
            "editFormJson": <?php /* @noEscape */
        echo $serializedFormData; ?>
    <?php endif; ?>
        }
    }

</script>