<div style="float: left;">
    <a href="<?php  echo $block->getNewUrl(); ?>" class="action subscribe primary"><?= __('New Inmeet Form')?></a>
</div>

<div class="panel wrapper" style="float: right">
    <a href="<?php  echo $block->getLogOutUrl(); ?>" class="action subscribe primary"><?= __('Logout')?></a>
</div>

<div id="block-sample-grid" data-bind="scope:'sample-grid'" class="block">
    <?php  //echo $block->getJsLayout();?>
    <!-- ko template: getTemplate() --><!-- /ko -->
    
    <script type="text/x-magento-init">
    {
        "#block-sample-grid": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        }
    
    }
    </script>

</div>