
<?php
	$imageUrl = $block->getImageUrl();
?>
<div class="container-left">
    <input name="form_key" type="hidden" value="<?= $block->escapeHtml($block->getFormKey()) ?>"/>
    <input name="submit_id" type="hidden" value="<?= $block->escapeHtml($block->getSubmitId()) ?>"/>
    
    <div class="container">
        <?php
        foreach ([
            'customer' => '8',                  // stap 1
            'type_product' => '10',             // stap 2
            'calculation_1' => '14',             // stap 3
            'vorm_veranda' => '11',             // stap 4
            'muurprofiel_bevestigen' => '34',   // stap 5
            'aanbouw_aanwezig' => '13',         // stap 6
            'obstakels_aanwezig' => '16',       // stap 7
            'vlonder' => '30',                  // stap 8
            'maten' => '17',                    // stap 9
            'onderzijde_goot_option' => '19',   // stap 10
            'spie_linkerzijkant' => '18',       // stap 11
            'spie_rechterzijkant' => '29',      // stap 12
            'zonnewering' => '25',              // stap 13
            'light_plan' => '36'                // stap 14
        ] as $key => $item) {
            // echo $key;
            echo $this->helper("Webfant\Customform\Helper\Data")->renderForm($item);
        }
        ?>
        
        <p style="overflow:hidden;page-break-before:always;"></p>
        <div class="page-break"></div>
        
        <h3 style="color: red" class="zonnewering_licht warning">Let op! Zonnewering is onderdak 2-delig. Geen spots plaatsen op de middelste ligger</h2>
        <div>
            <img src="" id="light_plan_image">
            <p id="light_plan_opslaan" style="color:green;display:none">Licht plan opgeslagen</p>
        </div>
        <div class="canvas-field">
            <canvas id="light_plan" data-target="canvas-4" class="bovenaanzicht canvas light_plan_canvas"  width="1140" height="400"></canvas>
        </div>
        <div style="display:flex">
            <button type="button" class="action primary" id="build-light-plan">Maak lichtplan</button>
            <button type="button" style="display:none" class="action primary" id="build-edit-light">Bewerken</button>
    	    <button type="button" class="action secondary" id="build-save-light">Opslaan lichtplan</button>
	    </div>

	    <?php echo $this->helper("Webfant\Customform\Helper\Data")->renderForm('28'); ?>
	    
	    <div id="signature-wrapper" class="field fb-canvas form-group">
	        <label class="fb-canvas-gropu-label label">Handtekening</label>
	        <div class="control">
    	        <div>
                    <img src="" id="signature_image" width="500">
                    <p id="signature_opslaan" style="color:green;display:none">Handtekening opgeslagen</p>
                </div>
        	    <div class="canvas-field">
        	        <canvas data-target="canvas_signature" id="canvas_signature" class="canvas_signature canvas signature_canvas" width="500" height="200"></canvas>
        	    </div>
        	    <div style="display:flex">
            	    <button type="button" class="action primary" id="build-signature">Handtekening</button>
            	    <button type="button" style="display:none" class="action primary" id="build-edit-signature">Bewerken</button>
            	    <button type="button" class="action secondary" id="build-save-signature">Opslaan</button>
        	    </div>
    	    </div>
	    </div>
	    
        <div>
            <img src="" id="freedrawing_image_image">
            <p id="freedrawing_image_opslaan" style="color:green;display:none">Tekening opgeslagen</p>
        </div>
	    <div class="canvas-field">
	        <canvas data-target="canvas-5" id="free_drawing" class="canvas-5 free_drawing canvas freedrawing_image_canvas" width="1140" height="400"></canvas>
	    </div>
	    <div style="display:flex">
    	    <button type="button" class="action primary" id="build-free-drawing">Vrij tekenen</button>
    	    <button type="button" style="display:none" class="action primary" id="build-edit-drawing">Bewerken</button>
    	    <button type="button" class="action secondary" id="build-save-drawing">Opslaan tekening</button>
	    </div>
        <p style="overflow:hidden;page-break-before:always;"></p>
        <div class="aanzichten">
            
            <div id="aanzicht_left"><img class="top-part" src=""><img class="bottom-part"></div>
            <div id="aanzicht_front"><img src="" width="450" height="240"></div>
            <div id="aanzicht_right"><img class="top-part" src=""><img class="bottom-part"></div>
            
            <div id="staander_overlay_front"><img src=""></div>
            
            <div id="gsw_direction_overlay_front"><img src=""></div>
            <div id="gsw_direction_overlay_left"><img src=""></div>
            <div id="gsw_direction_overlay_right"><img src=""></div>
            
            
            <div id="aanzicht_diepte_links"></div>
            <div id="aanzicht_breedte_voor"></div>
            <div id="aanzicht_diepte_rechts"></div>
            <div id="aanzicht_hoogte_links"></div>
            <div id="aanzicht_hoogte_rechts"></div>
            <div id="hoogte_onderkant_muur_links"></div>
            <div id="hoogte_onderkant_muur_rechts"></div>
            <div id="hoogte_spie_voorzijde_links"></div>
            <div id="hoogte_spie_voorzijde_rechts"></div>
            <div id="hoogte_spie_achterzijde_links"></div>
            <div id="hoogte_spie_achterzijde_rechts"></div>
            
        </div>
        <div class="aanzicht_fundatie aanzicht_vvk_fundatie_links"><span></span></div>
        <div class="aanzicht_fundatie aanzicht_vvk_fundatie_voor"><span></span></div>
        <div class="aanzicht_fundatie aanzicht_vvk_fundatie_rechts"><span></span></div>
        <div>
            <img src="" id="krinner_map_image">
        </div>
        <div class="canvas-field" style="clear: both;">
            <canvas data-target="canvas-krinners" id="krinner_map_canvas" class="canvas-krinners canvas krinner_map_canvas" width="1140" height="50"></canvas>
        </div>
	      
	    <div style="display:flex">
	        <button type="button" style="display:none" class="action primary" id="add-krinner-edit">Bewerken</button><br />
    	    <button type="button" class="action primary" id="add-krinner">Krinner toevoegen</button><br />
    	    <button type="button" class="action secondary" id="build-save-krinners">Opslaan</button>
	    </div>
        
	     
    </div>
	
	<div id="drawing"></div>
	
	<br />
	<br /><br />
	
</div>

<script type="text/javascript">

    var aanzichtenImages = <?php echo $this->getAanzichtenImagesJson(); ?>;
    var inmeetImageUrl   = '<?php echo $this->getInmeetImageUrl(); ?>';

</script>
