<?php
/**
 * @author Webfant Team
 */
/** @var Webfant\Customform\Block\Init $block */
$formId = $block->getFormId();
$formData = $block->getFormDataJson();
?> 
<div class="rendered-form amform-form"
      id="amform-form-<?= $formId;?>"
    >
    <input type="hidden" name="form_id[]" value="<?= $formId; ?>" />
    
    <div class="amform-form-fieldset fieldset">

        <div class="insert-container fields"></div>
        <?php if ($block->isGDPREnabled()) : ?>
            <div class="field required amform-hide-formload control">
                <label class="label" for="amcustom-form-gdpr-<?= $formId; ?>"><?= $block->getGDPRText(); ?></label>
                <input type="checkbox"
                       name="gdpr"
                       id="amcustom-form-gdpr-<?= $formId; ?>"
                       title="<?= __('GDPR'); ?>"
                       data-validate="{required:true}"
                       value="1">
            </div>
        <?php endif; ?>
    </div>
    <?php if($block->getSubmitStatus()):?>
        <button type="submit" class="action submit primary amform-hide-formload">
            <span><?= $block->escapeHtml($block->getButtonTitle())?></span>
        </button>
    <?php endif; ?>
    
    <div class="step-validation"></div>
</div>


<script type="text/javascript">
    require([
        'jquery',
        'mage/validation',
        'Webfant_Customform/js/form-render'
    ], function ($, validation, formCalculation) {
        var renderedForm = $('#amform-form-<?= $formId;?> .insert-container');
        renderedForm.formRender(<?= $formId ?>, <?= $formData ?>);
        
    });
   
</script>
