<div class="container-left-static">
    
    <div class="left-static-general">

        <input name="hoofproduct_hoogte_muurprofiel" id="hoofproduct_hoogte_muurprofiel" type="hidden" value="" />
        
        <div class="option-wrapper">
            <label style="float: left">Aantal dakvlakken</label>
            <div class="input-wrap" style="float:right;">
                <input type="number" name="aantal_dakvlakken" id="aantal_dakvlakken" value="0">
            </div>
            <div style="clear: both;"></div>
        </div>
        
         <div class="option-wrapper">
            <label style="float: left">Dakvlakken diepte</label>
            <div class="input-wrap" style="float:right;">
                <input type="number" name="dakbeplating_diepte" id="dakbeplating_diepte" value="0">
            </div>
            <div style="clear: both;"></div>
        </div>
    
        <div class="option-wrapper">
            <label style="float: left">Dakvlakken Bruto breedte</label>
            <div class="input-wrap" style="float:right;">
                <input type="number" name="dakvlakken_bruto_breedte" id="dakvlakken_bruto_breedte" value="0">
            </div>
            <div style="clear: both;"></div>
        </div>
        
        <div class="dakbeplating-pc">
            
            <div class="option-wrapper">
                <label style="float: left">Dakvlakken PC netto breedte</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="dakvlakken_netto_breedte" id="dakvlakken_netto_breedte" value="0">
                </div>
                <div style="clear: both;"></div>
            </div>
            
        </div>
        
        <div class="dakbeplating toggle">
            
            <div class="option-wrapper">
                <label style="float: left">Dakvlakken glas netto breedte</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="dakbeplating_breedte" id="dakbeplating_breedte" value="0">
                </div>
                <div style="clear: both;"></div>
            </div>
            
        </div>
        
        <div class="option-wrapper" id="hoogte_hwa_uitloop_display">
            <label style="float: left">Berekende hoogte op positie HWA uitloop</label>
            <div class="input-wrap" style="float:right;">
                <input type="number" name="berekende_hoogte_hwa_uitloop" id="berekende_hoogte_hwa_uitloop" value="0">
            </div>
            <div style="clear: both;"></div>
        </div>
        
        <!--<div class="option-wrapper">-->
        <!--    <label style="float: left">Aantal Staanders</label>-->
        <!--    <div class="input-wrap" style="float:right;">-->
        <!--        <input type="number" name="aantal_staanders" id="aantal_staanders" value="0">-->
        <!--    </div>-->
        <!--    <div style="clear: both;"></div>-->
        <!--</div>-->
        
        <!--<div class="option-wrapper">-->
        <!--    <label style="float: left">Afschot veranda</label>-->
        <!--    <div class="input-wrap" style="float:right;">-->
        <!--        <input type="number" name="afschot_veranda" id="afschot_veranda" value="0">-->
        <!--    </div>-->
        <!--    <div style="clear: both;"></div>-->
        <!--</div>-->
        
        <div class="option-wrapper">
            <label style="float: left">Standaard afschot</label>
            <div class="input-wrap" style="float:right;">
                <input type="number" name="standaard_afschot" id="standaard_afschot" value="0">
            </div>
            <div style="clear: both;"></div>
        </div>
        
        <div class="option-wrapper correctie-toggle" style="display: none";>
            <label style="float: left">Correctie tussen 2 aanbouwen in</label>
            <div class="input-wrap" style="float:right;">
                <input type="number" name="correctie_tussen" id="correctie_tussen" value="-2" readonly>
            </div>
            <div style="clear: both;"></div>
        </div>
        
        <div class="option-wrapper">
            <label style="float: left">Bestelmaat breedte veranda</label>
            <div class="input-wrap" style="float:right;">
                <input type="number" name="bestelmaat_breedte_veranda" id="bestelmaat_breedte_veranda" value="0">
            </div>
            <div style="clear: both;"></div>
        </div>
        
        <div class="option-wrapper">
            <label style="float: left">Bestelmaat diepte veranda</label>
            <div class="input-wrap" style="float:right;">
                <input type="number" name="bestelmaat_diepte_diepte_veranda" id="bestelmaat_diepte_diepte_veranda" value="0">
            </div>
            <div style="clear: both;"></div>
        </div>
        
        <div class="option-wrapper">
            <label style="float: left">Doorloophoogte voorzijde</label>
            <div class="input-wrap" style="float:right;">
                <input type="number" name="doorloophoogte_voorzijde" id="doorloophoogte_voorzijde" value="0">
            </div>
            <div style="clear: both;"></div>
        </div>
        
        <div class="option-wrapper doorloophoogte_links" style="display: none">
            <label style="float: left">Doorloophoogte linkerzijkant</label>
            <div class="input-wrap" style="float:right;">
                <input type="number" name="doorloophoogte_linkerzijkant" id="doorloophoogte_linkerzijkant" value="0">
            </div>
            <div style="clear: both;"></div>
        </div>
        
        <div class="option-wrapper doorloophoogte_rechts" style="display: none">
            <label style="float: left">Doorloophoogte rechterzijkant</label>
            <div class="input-wrap" style="float:right;">
                <input type="number" name="doorloophoogte_rechterzijkant" id="doorloophoogte_rechterzijkant" value="0">
            </div>
            <div style="clear: both;"></div>
        </div>
    
    </div>
    
    <h3>Voorkant</h3>
    <div class="insert-container fields left-static-front">

        <div class="option-wrapper" id="onderzijde_goot_option_fields">
            <label style="float: left">Berekende lengte VVK onderzijde goot</label>
            <div class="input-wrap" style="float:right;">
                <input type="number" name="onderzijde_goot_berekende_lengte" id="onderzijde_goot_berekende_lengte" value="0">
            </div>
            <div style="clear: both;"></div>
        </div>
        
        <div class="option-wrapper" id="vvk_fundatie_voorzijde_option_fields">
            <label style="float: left">Berekende lengte VVK fundatie voorzijde</label>
            <div class="input-wrap" style="float:right;">
                <input type="number" name="vvk_fundatie_voorzijde_lengte" id="vvk_fundatie_voorzijde_lengte" value="0">
            </div>
            <div style="clear: both;"></div>
        </div>
        
        <div id="type_voorwand_option_fields">
            <div class="option-wrapper">
                <label style="float: left">Berekende lengte <span class="type_voorwand_naam"></span></label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="type_voorwand_berekende_lengte" id="type_voorwand_berekende_lengte" value="0">
                </div>
                <div style="clear: both;"></div>
            </div>
            
            <div class="option-wrapper">
                <label style="float: left">Berekende hoogte <span class="type_voorwand_naam"></span></label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="type_voorwand_berekende_hoogte" id="type_voorwand_berekende_hoogte" value="0">
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
    
    <h3>Linker Wand</h3>
    <div class="insert-container fields left-static-left">
        
         <div id="vvk_linkerzijkant_option_fields">
            
			<div class="option-wrapper">
                <label style="float: left">Berekende lengte VVK linkerzijkant</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="vvk_linkerzijkant_berekende_lengte" id="vvk_linkerzijkant_berekende_lengte" value="0">
                </div>
                <div style="clear: both;"></div>
                
            </div>
            
    	</div>
    	
    	<div id="vvk_fundatie_links">
    	    
    	    <div class="option-wrapper">
                <label style="float: left">Berekende lengte VVK fundatie Linkerzijkant</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="vvk_fundatie_links_lengte" id="vvk_fundatie_links_lengte" value="0">
                </div>
                <div style="clear: both;"></div>
                
            </div>
                
        </div>
        
        <div id="type_zijwand_links">
    	    
    	    <div class="option-wrapper">
                <label style="float: left">Berekende Lengte <span class="type_linkerwand_naam"></span></label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="type_zijwand_linkslengte" id="type_zijwand_linkslengte" value="0">
                </div>
                <div style="clear: both;"></div>
                
            </div>
            
            <div class="option-wrapper hoogte_achterzijde_links">
                <label style="float: left">Berekende hoogte achterzijde <span class="type_linkerwand_naam"></span></label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="type_zijwand_berekende_hoogte_achterzijde" id="type_zijwand_berekende_hoogte_achterzijde" value="0">
                </div>
                <div style="clear: both;"></div>
                
            </div>
            
            <div class="option-wrapper">
                <label style="float: left">Berekende hoogte <span class="type_linkerwand_naam"></span></label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="type_zijwand_berekende_hoogte" id="type_zijwand_berekende_hoogte" value="0">
                </div>
                <div style="clear: both;"></div>
                
            </div>
            
    	</div>
        
        <div id="spie_option_fields">
            
            <div class="option-wrapper" style="display: none">
                <label style="float: left">Spie berekende hoogte voorzijde</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="hoogte_voorzijde_links" id="hoogte_voorzijde_links" value="0">
                </div>
                <div style="clear: both;"></div>
            </div>
            
            <div class="option-wrapper">
                <label style="float: left">Spie berekende lengte</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="spie_berekende_lengte" id="spie_berekende_lengte" value="0">
                </div>
                <div style="clear: both;"></div>
            </div>
            
            <div class="option-wrapper">
                <label style="float: left">Berekende doorloophoogte spie</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="spie_berekende_doorloophogte" id="spie_berekende_doorloophogte" value="0">
                </div>
                <div style="clear: both;"></div>
            </div>
            
        </div>
    	
    </div>

    <!--########################## Begin recht ####################################################-->

    <h3>Rechter Wand</h3>
    <div class="insert-container fields left-static-right">
			
		<div id="vvk_rechterzijkant_option_fields">
		    
		    <div class="option-wrapper">
                <label style="float: left">Berekende lengte VVK rechterzijkant</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="vvk_rechterzijkant_berekende_lengte" id="vvk_rechterzijkant_berekende_lengte" value="0">
                </div>
                <div style="clear: both;"></div>
                
            </div>
		    
	    </div>
	    
	    <div id="vvk_fundatie_rechts">
	    
    	    <div class="option-wrapper">
                <label style="float: left">Berekende lengte VVK fundatie rechterzijkant</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="vvk_fundatie_rechts_lengte" id="vvk_fundatie_rechts_lengte" value="0">
                </div>
                <div style="clear: both;"></div>
                
            </div>
                
        </div>
			
		<div id="type_zijwand_rechts">
    	    
    	    <div class="option-wrapper">
                <label style="float: left">Berekende Lengte <span class="type_rechterwand_naam"></span></label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="type_zijwand_rechts_lengte" id="type_zijwand_rechts_lengte" value="0">
                </div>
                <div style="clear: both;"></div>
                
            </div>
            
            <div class="option-wrapper hoogte_achterzijde_rechts">
                <label style="float: left">Berekende hoogte achterzijde <span class="type_rechterwand_naam"></span></label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="type_zijwand_berekende_hoogte_rechts_achterzijde" id="type_zijwand_berekende_hoogte_rechts_achterzijde" value="0">
                </div>
                <div style="clear: both;"></div>
                
            </div>
            
            <div class="option-wrapper">
                <label style="float: left">Berekende hoogte <span class="type_rechterwand_naam"></span></label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="type_zijwand_berekende_hoogte_rechts" id="type_zijwand_berekende_hoogte_rechts" value="0">
                </div>
                <div style="clear: both;"></div>
                
            </div>
            
    	</div>
    	
    	<div id="spie_option_fields_rechts">
            
            <div class="option-wrapper" style="display: none">
                <label style="float: left">Spie berekende hoogte voorzijde</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="hoogte_voorzijde_rechts" id="hoogte_voorzijde_rechts" value="0">
                </div>
                <div style="clear: both;"></div>
            </div>
            
            <div class="option-wrapper">
                <label style="float: left">Spie berekende lengte</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="spie_berekende_lengte_rechts" id="spie_berekende_lengte_rechts" value="0">
                </div>
                <div style="clear: both;"></div>
            </div>
            
            <div class="option-wrapper">
                <label style="float: left">Berekende doorloophoogte spie</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="spie_berekende_doorloophogte_rechts" id="spie_berekende_doorloophogte_rechts" value="0">
                </div>
                <div style="clear: both;"></div>
            </div>
            
        </div>

    </div>

    <h3>Bovenkant</h3>
    <div class="insert-container fields left-static-upper">
        
        <div id="zonnewering">
            
            <div class="option-wrapper">
                <label style="float: left">Zonnewering breedte</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="zonnewering_breedte" id="zonnewering_breedte" value="0">
                </div>
                <div style="clear: both;"></div>
            </div>
        
            <div class="option-wrapper">
                <label style="float: left">Zonnewering diepte</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="zonnewering_diepte" id="zonnewering_diepte" value="0">
                </div>
                <div style="clear: both;"></div>
            </div>

        </div>
        
        <div id="zonnedoeken">
            
            <div class="option-wrapper">
                <label style="float: left">Breedte Zonnedoek middenplaten</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="zonnedoek_midden" id="zonnedoek_midden" value="0" min="4.5">
                </div>
                <div style="clear: both;"></div>
            </div>
        
            <div class="option-wrapper">
                <label style="float: left">Breedte zonnedoek buitenste platen</label>
                <div class="input-wrap" style="float:right;">
                    <input type="number" name="zonnedoek_buiten" id="zonnedoek_buiten" value="0" min="6">
                </div>
                <div style="clear: both;"></div>
            </div>
            
        </div>
        
    </div>
    
    <input type="hidden" name="save_deff" value="" id="save_deff" />
        
</div>
