<!--@subject Inmeet formulier @-->
<!--@vars {
"var customer_name":"Customer Name",
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td valign="top">
            <p><strong>Hallo {{var customer_name}},</strong></p>
            <p>Bijgevoegd is het inmeet formulier</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}


