@charset "UTF-8";
/*.container span.active.form-field {*/
/*    display: block;*/
/*}*/

body, h1, h2, h3, input {
    font-size: 12px !important;
}
#amform-form{
    position: absolute;
    left: 17%;
    max-width: 1000px;
}

body {
    background-color: #eee;
    padding-left: 240px;
    padding-top: 10px;
}
.copyright{
    display:none;
}

h2.amform-htwo {
    font-size: 16px !important;
}

/* fields styling */
.container-left .insert-container {
    background-color: #fff;
    border: 1px solid #cccccc;
    padding: 15px 15px 0 15px;
}
.container-left .insert-container .form-group {
}
.container-left .insert-container .form-group .label {
    float: left;
    padding-right: 15px;
    text-align: right;
    width: 180px;
}
.container-left .insert-container .form-group .control {
    margin-left: 180px;
}
.container-left .insert-container .form-group .control .amform-htwo {
    margin: 0 0 0 -180px;
}
.canvas-field.canvas-inmeetformulier{
    padding-top: 100px;
}

#canvas-zijwand_rechts, #canvas-zijwand_links{
    position: absolute;
    top: 300px;
    left: 140px;
}
#canvas-zijwand_links-spie{
    position: absolute;
    top: 27%;
    left: 15%;
}
#canvas-zijwand_rechts-spie{
    position: absolute;
    top: 27%;
    left: 60%;
}

#canvas-diepte-centimeter-right{
    position: absolute;
    bottom: 2.6%;
    right:0%;
    
}

#canvas-zijwand_rechts-og-maat, #canvas-zijwand_links-og-maat {
    position: absolute;
    top: 54%;
    left: 354px;
}

#canvas-diepte-centimeter-left{
    position: absolute;
    left: 15%; 
    bottom: 2.6%;
    
}

.hiddendropdown{
        display: none;
}



#canvas-zijwand_rechts-om-maat, #canvas-zijwand_links-om-maat {
    position: absolute;
    top: 46%;
    left: 354px;
}

/*#canvas-zijwand_links-og-maat {*/
/*    position: absolute;*/
/*    top: 184px;*/
/*    left: 354px;*/
/*}*/
#canvas-breedte-centimeter{
    position: absolute;
    bottom: 2.2%;
    left: 55%;
}

.fieldset .amform-layout-three {
    display: block !important;
    max-width: 100%;
}


/* left summary column styling */
.container-left-static {
    background-color: #ddd;
    bottom: 0;
    left: 0;
    overflow-x: scroll;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 450px;
}

.container-left-static .insert-container .form-group .label {
    float: none;
    padding-right: 0;
    text-align: left;
    width: auto;
}

.container-left-static .insert-container .form-group .control {
    margin-left: 0;
}

.container-left-static .insert-container {
    background-color: #EEE;
    border: 0;
    padding: 15px;
}
#image.hidden{
    /*display: none;*/
}


/*#spie_option_fields {*/
/*    display: none;*/
/*}*/

/*#onderzijde_goot_option_fields {*/
/*    display: none;*/
/*}*/

/*#vvk_linkerzijkant_option_fields {*/
/*    display: none;*/
/*}*/

/*#type_voorwand_option_fields {*/
/*    display: none;*/
/*}*/

/*#vvk_fundatie_voorzijde_option_fields {*/
/*    display: none;*/
/*}*/

/*#type_zijwand {*/
/*    display: none;*/
/*}*/

/*#vvk_fundatie {*/
/*    display: none;*/
/*}*/

/*#zonnedoeken {*/
/*    § display: none;*/
/*}*/

/*#zonnewering {*/
/*    display: none;*/
/*}*/

/*.dakbeplating.toggle, #button-formfield-canvas {*/
/*    display: none;*/
/*}*/

.container-canvas .canvas-field {

    margin: 10px;
    width: 25%; 
}

.canvas-field {


}

.canvas-field canvas {
    border: dotted 0.5px #3b4144;
}

.canvas-inmeetformulier {
    display: flex;
}

.read-only{
    properties:read-only;
}

.force-hide {
    display: none !important;
}
/*.canvas-container > canvas{*/
/*  !*padding: 5px;*!*/
/*  width: 600px;!important;*/
/*  height: 250px;!important;*/
  
/*}*/
 
