<div class="form-control">

    
    

</div>
<table class="data table base list">

<thead>

    <tr data-bind="foreach: columns">
    
        <th data-bind="text: headerText"></th>
    
    </tr>
    
    <tr>
        <td colspan="2"><input type="text" data-bind="value: query, valueUpdate: 'keyup'" autocomplete="off" placeholder="Zoeken..."></td>
        <td>
            <select data-bind="options: users, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Choose...', value: selectedUser">
            </select>
        </td>
        <td>
            <select data-bind="value: status, valueUpate: 'change'">
                <option value="open">Open</option>
                <option value="afgerond">Afgerond</option>
            </select>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</thead>

<tbody data-bind="foreach: searchResults">

    <tr data-bind="foreach: columns">
    
    <td><span data-bind="html: renderer ? renderer.render($parent) : $parent[rowText] "></span></td>
    
    </tr>

</tbody>

</table>