<?php
?>

<table nobr="true" cellspacing="6">
    
    <thead>
    <tr>
        <td style="border-bottom: 1px solid black;">Aanzichten</td>
    </tr>
    </thead>
    <tr>
        <td style="font-size: 9px"><table cellpadding="2">
            <tr>
                <td border="1"><?= $block->getKrinnerImage(); ?></td>
            </tr>
        </table></td>
    </tr>    
</table>

