<?php
$attachments = $block->getAttachments();
?>

<table nobr="true" cellspacing="6">
    
    <thead>
    <tr>
        <td style="border-bottom: 1px solid black;">Bijlages</td>
    </tr>
    </thead>
    <?php foreach ($attachments as $key => $attachment): ?>
    <?php $attachmentNr = (string)($key + 1); ?>
        <tr>
            <td><?= 'Bijlage' . $attachmentNr ?></td>
        </tr>
        <tr>
            <td><?= $attachment; ?></td>
        </tr>   
    <?php endforeach; ?>
    
</table>

