<?php
$tableData = $block->getPdfData();
?>


<table>
    <tr>
        <?php foreach($tableData as $table): ?>
        <td><?php foreach($table as $col): ?><table cellspacing="6">
            <thead>
            <tr>
                <td style="border-bottom: 1px solid black;"><?= $col['title']; ?></td>
            </tr>
            </thead>
            <tr>
                <td style="font-size: 9px"><table cellpadding="0">
                    <tr>
                        <td><table cellpadding="1">
                                <?php foreach($col['pdfData'] as $row): ?>
                                <tr>
                                    <td width="150" style="border-bottom: 1px solid grey;"><?= $row['label'] ?>:</td>
                                    <td width="100" style="border-bottom: 1px solid grey;"><?= $row['value'] ?></td>
                                </tr>
                                <?php endforeach; ?>
                            </table>
                        </td>
                    </tr>
                </table></td>
            </tr>    
        </table><?php endforeach; ?></td>
        <?php endforeach; ?>
    </tr>
    <tr>
        <td><table>
            <thead>
                <tr>
                    <td>Handtekening</td>
                </tr>
            </thead>
            <tr>
                <td border="1"><?= $this->getSignature(); ?></td>
            </tr>
        </table></td>
        <td></td>
        <td></td>
    </tr>
</table>