<?php
$pdfData = $block->getLightPlanData();
?>

<table nobr="true" cellspacing="6">
    
    <thead>
    <tr>
        <td style="border-bottom: 1px solid black;">Lichtplan / Vrij teken veld</td>
    </tr>
    </thead>
    <tr>
        <td style="font-size: 9px"><table cellpadding="2">
            <tr>
                <td border="1" width="350"><?= $block->getLightPlanImage(); ?></td>
                <td width="50">&nbsp;</td>
                <td border="1" width="350"><?= $block->getFreedrawingImage(); ?></td>
            </tr>
        </table></td>
    </tr>    
</table>

