<?php
$pdfData = $block->getPdfData();
$lastPage = $block->getLastPageData();
?>


<table>
    <tr>
        <td><table cellspacing="6">
            <tr>
                <td style="border-bottom: 1px solid black;">Algemeen</td>
            </tr>
            <tr>
                <td style="font-size: 9px"><table cellpadding="1">
                <?php foreach($pdfData->general as $option): ?>
                <tr>
                    <td width="140" style="border-bottom: 1px solid grey;"><?= $option->label ?>:</td>
                    <td width="100" style="border-bottom: 1px solid grey;"><?= $option->value ?></td>
                </tr>
                <?php endforeach; ?>
            </table></td>
            </tr>
        </table>
        <table cellspacing="6">
            <tr>
                <td style="border-bottom: 1px solid black;">Extras</td>
            </tr>
            <tr>
                <td style="font-size: 9px"><table cellpadding="1">
                <?php foreach($lastPage as $option): ?>
                <tr>
                    <td width="140" style="border-bottom: 1px solid grey;"><?= $option['label'] ?>:</td>
                    <td width="100" style="border-bottom: 1px solid grey;"><?= $option['value'] ?></td>
                </tr>
                <?php endforeach; ?>
            </table></td>
            </tr>
        </table></td>
        
        <td><table cellspacing="6">
            <tr>
                <td style="border-bottom: 1px solid black;">Voorkant</td>
            </tr>
            <tr>
                <td style="font-size: 9px"><table cellpadding="1">
                <?php foreach($pdfData->front as $option): ?>
                <tr>
                    <td width="140" style="border-bottom: 1px solid grey;"><?= $option->label ?>:</td>
                    <td width="100" style="border-bottom: 1px solid grey;"><?= $option->value ?></td>
                </tr>
                <?php endforeach; ?>
            </table></td>
            </tr>
        </table>
        
        <table cellspacing="6">
            <tr>
                <td style="border-bottom: 1px solid black;">Linkerkant</td>
            </tr>
            <tr>
                <td style="font-size: 9px"><table cellpadding="1">
                <?php foreach($pdfData->left as $option): ?>
                <tr>
                    <td width="140" style="border-bottom: 1px solid grey;"><?= $option->label ?>:</td>
                    <td width="100" style="border-bottom: 1px solid grey;"><?= $option->value ?></td>
                </tr>
                <?php endforeach; ?>
            </table></td>
            </tr>
        </table>
        
        <table cellspacing="6">
            <tr>
                <td style="border-bottom: 1px solid black;">Rechterkant</td>
            </tr>
            <tr>
                <td style="font-size: 9px"><table cellpadding="1">
                <?php foreach($pdfData->right as $option): ?>
                <tr>
                    <td width="140" style="border-bottom: 1px solid grey;"><?= $option->label ?>:</td>
                    <td width="100" style="border-bottom: 1px solid grey;"><?= $option->value ?></td>
                </tr>
                <?php endforeach; ?>
            </table></td>
            </tr>
        </table>
        
        <table cellspacing="6">
            <tr>
                <td style="border-bottom: 1px solid black;">Bovenkant</td>
            </tr>
            <tr>
                <td style="font-size: 9px"><table cellpadding="1">
                <?php foreach($pdfData->upper as $option): ?>
                <tr>
                    <td width="140" style="border-bottom: 1px solid grey;"><?= $option->label ?>:</td>
                    <td width="100" style="border-bottom: 1px solid grey;"><?= $option->value ?></td>
                </tr>
                <?php endforeach; ?>
            </table></td>
            </tr>
        </table></td>
    </tr>
</table>