/*page styles*/

#frmb-0 {
    min-height: 300px !important;
}

#amform-form {
    max-width: 1140px !important;
}

#amform-form-container div.form-actions.btn-group {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

div#frmb-0-cb-wrap {
    min-height: 300px !important;
    position: relative;
    padding-bottom: 40px;
}

.amform-form {

    margin-bottom: 10px;
}

.amform-form-fieldset.fieldset {
    margin-bottom: 10px;
}

.amform-form input[type="number"] {
    max-width: 70px;
}

.amform-groupv2 {
    display: inline-block;
}

#loading_image_container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
}

#form_submit_loading {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
    z-index: 100000;
}

.amform-form .amform-hide-formload,
.amform-form .amform-hide-formload.action.primary {
    display: none;
}

.amform-versiontwo-label {
    margin-right: 10px;
    padding-right: 20px;
    display: inline;
    word-break: break-all;
}


.rendered-form {
    position: relative;
}

.rendered-form .step-validation {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}

.rendered-form .step-validation.passed {
     background-color: green;   
}

.container-left-static .option-wrapper {
    margin-bottom: 10px;
}

.container-left-static .option-wrapper label {
    margin-top: 5px
}

.warning {
    display: none;
}

.page-break {
    page-break-after: always;
}

.aanzichten {
    width: 1140px;
    height: 312px;
    margin-top: 40px;
    border: 1px solid black;
    position: relative;
    background-color: white;
}

.aanzichten img {
    visibility: hidden;
}

.aanzichten .bottom-part {
    margin-top: -4px;
    height: 230px;
    width: 250px;
}

.aanzichten .top-part {
    height: 70px;
    width: 250px;
}

#amform-form-28{
    display: none;
}

#amform-form-28 .form-group {
    display: none;
}

#aanzicht_left {
    width: 260px;
    height: 310px;
    padding-top: 12px;
    float: left;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url('outside_left.png');
}

#aanzicht_front {
    width: 470px;
    height: 310px;
    padding-top: 10px;
    float: left;
    margin-left: 74px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url('outside_front.png');
    padding-left: 10px;
    padding-top: 80px;
}

#aanzicht_right {
    width: 260px;
    height: 310px;
    padding-top: 10px;
    padding-left: 10px;
    float: left;
    margin-left: 74px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url('outside_right.png');
}

#staander_overlay_front {
    position: absolute;
    left: 335px;
    bottom: 0px;
    width: 470px;
    height: 239px;

}

#gsw_direction_overlay_left {
    position: absolute;
    left: 20px;
    bottom: 84px;
    width: 197px;
    height: 38px;
}

#gsw_direction_overlay_front {
    position: absolute;
    left: 353px;
    bottom: 84px;
    width: 430px;
    height: 38px;
}

#gsw_direction_overlay_right {
    position: absolute;
    right: 20px;
    bottom: 84px;
    width: 197px;
    height: 38px;
}

#aanzicht_diepte_links {
    position: absolute;
    padding: 5px;
    bottom: 5px;
    left: 60px;
}

#aanzicht_breedte_voor {
    position: absolute;
    padding: 5px;
    bottom: 2px;
    left: 608px;
}

#aanzicht_diepte_rechts {
    position: absolute;
    padding: 5px;
    bottom: 5px;
    right: 60px;
}

#aanzicht_hoogte_links {
    position: absolute;
    padding: 5px;
    bottom: 110px;
    left: 260px;
}

#aanzicht_hoogte_rechts {
    position: absolute;
    padding: 5px;
    bottom: 110px;
    right: 260px;
}

#hoogte_onderkant_muur_links {
    position: absolute;
    padding: 5px;
    bottom: 110px;
    left: 10px;
}

#hoogte_spie_voorzijde_links {
    position: absolute;
    padding: 5px;
    bottom: 220px;
    left: 260px;
}

#hoogte_spie_voorzijde_rechts {
    position: absolute;
    padding: 5px;
    bottom: 220px;
    right: 260px;
    text-align: right;
}

#hoogte_spie_achterzijde_links {
    position: absolute;
    padding: 5px;
    bottom: 240px;
    left: 10px;
}

#hoogte_spie_achterzijde_rechts {
    position: absolute;
    padding: 5px;
    bottom: 240px;
    right: 10px;
    text-align: right;
}

#hoogte_onderkant_muur_rechts {
    position: absolute;
    padding: 5px;
    bottom: 110px;
    right: 10px;
    text-align: right;
}

.aanzicht_fundatie {
    text-align: center;
    font-size: 14px;
    padding-top: 4px;
    border: 1px solid black;
    border-top: 0px;
    visibility: hidden;
    background-color: #666666;
    color: white;
}

.aanzicht_vvk_fundatie_links {
    width: 260px;
    height: 30px;
    float: left;
}

.aanzicht_vvk_fundatie_voor {
    width: 470px;
    height: 30px;
    float: left;
    margin-left: 74px;
}

.aanzicht_vvk_fundatie_rechts {
    width: 261px;
    height: 30px;
    float: left;
    margin-left: 75px;
}

.container-left-static input {
    text-align: right;
}

.error-message {
    color: red;
    margin-top: 10px;
    margin-left: 180px;
    display: block;
}


.delete-file-button {
    margin-left: 180px !important;
}